/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: notosans-regular, sans-serif;
  font-size: 13px;
  font-weight: 400;
}

/* import font style */
@font-face {
  font-family: "notosans-regular";
  src: url("../assets/fonts/notosans-regular.2cb88a13.woff2") format("opentype");
}
@font-face {
  font-family: "notosans-semibold";
  src: url("../assets/fonts/notosans-semibold.df3e6dc4.woff2")
    format("opentype");
  font-weight: 600;  
}
@font-face {
  font-weight: 700;
  font-family: "notosans-bold";
  src: url("../assets/fonts/notosans-bold.3ede5aff.woff2") format("opentype");
}

/*-----------resize navbar----------------*/

.resize-navigation{
  width: 55px !important;
}

/* Header css */
.v-toolbar__content {
  height: 48px !important;
}
.v-toolbar__content,
.v-toolbar__extension {
  padding: 4px 10px !important;
}

/* dialog css*/
.v-dialog:not(.v-dialog--fullscreen) {
  max-height: calc(100% - 34px) !important;
  /* height: calc(100% - 34px) !important; */
}
/* label dialog */
label {
  display: block;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}