$color-write: #fff;
@import "./icon.scss";

@mixin WidthHeight($w, $h) {
	width: $w;
	height: $h;
}
@mixin flex-center {
	display: flex;
	align-items: center;
}
.background {
	background: radial-gradient(black, transparent);
}
.hidden {
	display: none !important;
}

/*----navbar------*/
// #region scroll
::-webkit-scrollbar {
	width: 5px;
	background-color: #f5f5f5;
}
::-webkit-scrollbar-track {
	//-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.44, rgb(122, 153, 217)),
		color-stop(0.72, rgb(73, 125, 189)),
		color-stop(0.86, rgb(28, 58, 148))
	);
}
// #endregion
/* v-text-field*/
.theme--light.v-label {
	font-family: "notosans-regular";
	font-weight: 400;
	font-size: 17px;
}

// #region ChartRouter
// component
.component {
	margin-left: 30px;
}
.chart-list {
	// @include flex-center;
	// flex-wrap:wrap;
	// .chart{
	// 	@include WidthHeight(550px,400px);
	// 	margin: 20px;
	// 	border: 1px solid rgb(73, 125, 189);
	// }
	// display: grid;
	// grid-gap: 36px;
	// grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
	display: flex;
	margin-bottom: 20px;
	.chart {
		width: 70%;
		margin: 20px 0 0 0;
	}
	.date-time {
		width: 25%;
		margin: 80px auto;
	}
}
.table-title {
	margin: 5px 10px;
	font-size: 21px;
	font-weight: 700;
}
// #endregion

/*header*/
.header {
	height: 60px;
	width: 100%;
	//background: url("https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg");
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	@include flex-center();
	justify-content: space-between;
	margin-bottom: 20px;
}
// #region loading
.loading {
	position: absolute;
	top: 40%;
	left: 50%;
	border-radius: 50%;
	z-index: 10000;
	.loading-son {
		width: 10px;
		height: 10px;
		border-radius: 50%;
		position: absolute;
	}
	.loading-son:first-child {
		animation: xoay 1s infinite;
		background-color: red;
	}
	.loading-son:nth-child(2) {
		animation: xoay3 1s infinite;
	}
	.loading-son:last-child {
		animation: xoay2 1s infinite;
		background-color: teal;
	}
}
@keyframes xoay {
	0% {
		opacity: 1;
		transform: translateX(0);
	}
	50% {
		opacity: 1;
		transform: translateX(60px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes xoay2 {
	0% {
		opacity: 1;
		transform: translateX(60px);
	}
	50% {
		opacity: 1;
		transform: translateX(0);
	}
	100% {
		opacity: 1;
		transform: translateX(60px);
		z-index: -1;
	}
}
@keyframes xoay3 {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	20% {
		opacity: 1;
		background-color: #4867ff;
		transform: translateX(30px);
	}
	30% {
		opacity: 1;
		transform: translateX(30px);
		background-color: #4867ff;
	}
	50% {
		opacity: 0;
		transform: translateX(30px);
	}
	70% {
		opacity: 1;
		transform: translateX(30px);
		background-color: #46a00a;
	}
	80% {
		opacity: 1;
		transform: translateX(30px);
		background-color: #46a00a;
	}
	100% {
		opacity: 0;
		transform: translateX(30px);
	}
}
.loading-rotate {
	width: 60px;
	height: 60px;
	position: absolute;
	top: 40%;
	left: 50%;
	border-radius: 50%;
	border: 7px solid teal;
	z-index: 10000;
	transform: translate(-50%, -50%);
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	animation: xoay-rotate 0.8s infinite linear;
}
@mixin border-color($data) {
	border-top: 7px solid $data;
	border-bottom: 7px solid $data;
}
@keyframes xoay-rotate {
	0% {
		@include border-color(#f53838);
		transform: rotate(0deg);
	}
	20% {
		@include border-color(#db810b);
		transform: rotate(60deg);
	}
	40% {
		transform: rotate(120deg);
		@include border-color(#32d600);
	}
	60% {
		transform: rotate(180deg);
		@include border-color(#007da3);
	}
	80% {
		transform: rotate(240deg);
		@include border-color(#003088);
	}
	100% {
		transform: rotate(360deg);
		@include border-color(#740074);
	}
}
// #endregion
// #region Toast
.base-toast {
	.toast-content {
		display: flex;
		align-content: center;
		text-align: center;
		span {
			margin: auto 5px;
			font-size: 14px;
			font-weight: 500;
		}
	}
}
// #endregion